/* Burger Line */

.burger-menu {
  width: 4.375vw;
  height: 4.375vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(17, 17, 17, 0.7);
}

.burger-menu:hover {
  background: rgb(249, 179, 0);
  background: linear-gradient(
    14deg,
    rgba(249, 179, 0, 1) 0%,
    rgba(255, 221, 135, 1) 50%,
    rgba(249, 179, 0, 1) 100%
  );
}

.burger-menu span {
  display: block;
  position: relative;
  width: 1.8125vw;

  height: 0.1875vw;
  background: #ffffff;
}

.burger-menu span::before,
.burger-menu span::after {
  content: "";
  position: absolute;
  width: 1.8125vw;
  height: 0.1875vw;
  background: #fff;
}

.burger-menu span::before {
  top: -6px;
}

.burger-menu span::after {
  top: 6px;
}

.burger-menu:hover span,
.burger-menu:hover span::before,
.burger-menu:hover span::after {
  background: #000;
}
