.footer-outro {
  color: #cf8888;
  font-size: 13px;
  letter-spacing: 0.025em;
  line-height: 1.84;
  text-align: center;
  margin-bottom: 33px;
}
.footer-outro em:hover {
  color: #daa03c;
}

.copyright {
  color: #cf8888;
  font-size: 13px;
  letter-spacing: 0.05em;
  line-height: 1.38;
  text-align: center;
  margin-bottom: 33px;
}

.copyright a:hover {
  color: #daa03c;
}

.copyright a:last-of-type {
  text-decoration: underline !important;
}

.mls {
  font-size: 26px;
  color: #fff;
  text-align: center;
}
