.press-item {
  position: relative;
}

.press-item .press-img::before {
  content: "";
  position: absolute;

  background: rgba(166, 37, 41, 0.55);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.press-item:hover .press-img::before {
  opacity: 1;
}

.press-text h3 {
  text-transform: uppercase;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  letter-spacing: 0.04em;
  margin-top: 38px;
  line-height: 1.2;
}
.press-text p {
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.02em;
  margin-top: 21px;
  line-height: 1.73;
}

.hp-social .site-btn {
  color: #fff;
  margin: 0 auto;
  width: 154px;
}
